{% extends 'store/base.html' %}

{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Next Gen Phone Shop</h1>
                <p class="lead fw-normal text-white-50 mb-0">Buy Future Phone Today</p>
            </div>
        </div>
    </header>

    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <div class="row text-center">
                <h1>
                    Your Trusted Source for Latest Mobile
                    Phones!
                </h1>
            </div>

            <div class="row justify-content-center">
                <image src="/static/assets/storehomeimage.png" style="width:500px;"></image>
            </div>

            <div class="row text-center mt-3">
                <h5>
                    At Phone House, we specialize in offering the latest mobile phones from
                    top brands. Whether you're an Apple enthusiast, a Samsung fan, or prefer
                    other leading brands, we have the perfect smartphone for you.
                </h5>
                <a class="btn btn-outline-dark mt-auto" href="#!"> Go to Shop</a>
            </div>

        </div>
    </section>

{% endblock %}