{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Find out About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            An e-commerce web application built with Django that features a fully functional website header with a logo,
            navigation menu, and cart button. The goal of this project is to build a scalable and customizable platform
            for online shopping.

            🌟 Features
            Responsive Header with:
            Logo Icon
            Navigation Menu (Home, About, Services, Contact)
            Cart Button with Badge Count
            User Authentication (Signup, Login, Logout)
            Product Management System (CRUD Operations)
            Integrated Cart & Checkout functionality

{#            <form method="POST" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <button type="submit" class="btn btn-primary">Upload</button>#}
{#            </form>#}
        </div>
    </section>
{% endblock %}