{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Register User</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    {% if message %}
        {% for msg in message %}
            <div class="alert alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center m-5">
        <div class="card p-4" style="width: 50%;">
            <form method="POST" class="form-signin">
                {% csrf_token %}
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.as_p }}
                </div>
                <button class="btn btn-md btn-outline-primary btn-block h6" type="submit">Sign in</button>
            </form>
        </div>
    </div>
{% endblock %}